.hero{
    position: relative;
    /* background-color: black; */
    height: 100vh;
    margin-left: max(7vw,40px);
    margin-top: 17vh;
    font-size: 5em;
}
.wel {
    font-family: Montserrat;
    font-size: 0.4em;
    font-weight: 200;
    /* line-height: 25.93px; */
    text-align: left;
    color:#FFFFFF;
    /* margin-left: 108px; */
}
.nameclub{
    margin-top: 17px;
    font-family: Audiowide;
    /* font-size: 58.37px; */
    font-size: 2.3em;
    font-weight: 400;
    /* line-height: 74.41px; */
    text-align: left;
    color: #28FB75;
}
.iiit{
    margin-top: 26px;
    font-family: Montserrat;
    font-size: 0.3em;
    font-weight: 200;
    /* line-height: 29.86px; */
    text-align: left;
    color: #FFFFFF;
    /* margin-left: 108px; */
    letter-spacing: max(0.1vw,2px);  
}
.quote{
    font-family: Montserrat;
        font-size: 0.4em;
        font-weight: 200;
        /* line-height: 25.93px; */
        text-align: left;
        color: #FFFFFF;
        /* margin-left: 108px; */
        margin-top: 14px;
        margin-bottom: 100px;
}
.green{
    font-family: Montserrat;
        font-size: 0.8em;
        font-weight: 700;
        /* line-height: 25.93px; */
        text-align: left;
        color: #28FB75;
}
.collab{
    font-family: Montserrat;
        font-size: max(1.2vw,0px);
        font-weight: 400;
        /* line-height: 24.89px; */
        text-align: left;
        color:#FFFFFF ;
        letter-spacing: max(0.095vw,1px);
}
.zerodha{
    width: max(23vw,0px);
}
.outerzerodha{
    margin-top: 25px;
    width: fit-content;
    padding: 12px 0px;
    border-radius: 15px;
}
