.hero{
    position: relative;
    /* background-color: black; */
    background-color: transparent;
    height: calc(100vh - 23vh - 80px);
    margin-left: max(7vw,40px);
    margin-top: 23vh;
    font-size: max(5vw,40px);
}
.mainn{
    height: 100vh;
    /* display: flex; */
}
.wel {
    font-family: Montserrat;
    font-size: 0.4em;
    font-weight: 200;
    /* margin-top: 0.09em; */
    /* line-height: 25.93px; */
    text-align: left;
    color:#FFFFFF;
    /* margin-left: 108px; */
}
.nameclub{
    margin-top: 0.1em;
    font-family: Audiowide;
    /* font-size: 58.37px; */
    font-size: 2.3em;
    font-weight: 400;
    /* line-height: 74.41px; */
    text-align: left;
    color: #28FB75;
}
.iiit{
    margin-top: 1em;
    font-family: Montserrat;
    font-size: 0.3em;
    font-weight: 200;
    /* line-height: 29.86px; */
    text-align: left;
    color: #FFFFFF;
    /* margin-left: 108px; */
    letter-spacing: max(0.1vw,2px);  
}
.quote{
    font-family: Montserrat;
        font-size: 0.4em;
        font-weight: 200;
        /* line-height: 25.93px; */
        text-align: left;
        color: #FFFFFF;
        /* margin-left: 108px; */
        margin-top: 0.4em;
        margin-bottom: 4em;
}
.green{
    font-family: Montserrat;
        font-size: 0.8em;
        font-weight: 700;
        /* line-height: 25.93px; */
        text-align: left;
        color: #28FB75;
}
.collab{
    font-family: Montserrat;
        font-size: 0.25em;
        font-weight: 400;
        /* line-height: 24.89px; */
        text-align: left;
        color:#FFFFFF ;
        letter-spacing: max(0.095vw,1px);
}
.zerodha{
    /* padding: 0em 0.2em; */
    width: 3em;
}
.outerzerodha{
    /* margin-top: 0.09em; */
    width: fit-content;
    /* padding: 12px 0px; */
    border-radius: 15px;
    /* background-color: rgba(56, 53, 53, 0.735); */
    /* border-radius: 15px; */
}
.text{
    position: absolute;
}
.theme{
    right: 0;
    bottom: 6vh;
    position: absolute;
    z-index: -1;
    /* width: em; */
}
.explore{
    position: absolute;
    /* display: flex; */
    /* align-content: flex-end; */
    bottom: 20px;
    right: 50%;
    border: none;
    /* height: 0.1vh; */
    width: 10vw;
    background-color: transparent;
}

.explore:hover{
    cursor: pointer;
    transition: transform 0.2s ease-in 0.1s;
    transform: scale(1.2);
}
@media(max-width:426px){
    .iiit{
        font-size: 0.28em;
    }
    .hero{
        position: relative;
    /* background-color: black; */
    height: 100vh;
    margin-left: 20px ;
    margin-top: 28vh;
    margin-right: 0.1em;
    /* font-size: max(5vw,40px); */
    }
    .quote{
        font-size: 0.35em;
        margin-top: 0.4em;
        margin-bottom: 2em;
    }
    .green{
        font-size: 0.75em;
    }
    .outerzerodha{
        margin-top: 0.1em;
    }
    .theme{
        
        display: none;
    }
}
@media (max-width:768px){
    .nameclub{
        margin-top: 0.4em;
    }
}
