.navbar{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 18px 8%;  
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: max(32vw,300px);
    font-weight: 600;
    font-size: 20px;
    color: white;
}