@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
  overflow-x: hidden;
  background-color: black;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }  

  ::-webkit-scrollbar-track {
    background-color: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #6b8ee1;
    border-radius: 18px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3f319b;
  }
  